<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% url 'Poetries:home' as path_of_home %}
{% url 'Poetries:posts' 'poetry' as path_of_poetry %}
{% url 'Poetries:posts' 'reflection' as path_of_reflections %}
{% url 'Poetries:posts' 'real_story' as path_of_real_stories %}
{% url 'Poetries:posts' 'I_read_you' as path_of_i_read_you %}

{% url 'dashboard:dashboard_posts' 'poetry'  as path_of_dashboard_poetries %}
{% url 'dashboard:dashboard_posts' 'reflection' as path_of_dashboard_reflections %}
{% url 'dashboard:dashboard_posts' 'real_story'  as path_of_dashboard_stories %}
{% url 'dashboard:dashboard_posts' 'I_read_you' as path_of_dashboard_i_read_you %}
{% url 'dashboard:dashboard_users'  as path_of_dashboard_users %}
{% url 'dashboard:dashboard_profile' request.user.id as path_of_dashboard_author_profile %}
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title> {% trans "Dashboard" %}  {% block title %}{% endblock title %}</title>

  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/hover.css' %}">
   {% if LANGUAGE_CODE == 'en' %}
    <link rel="stylesheet" href="{% static 'css/dashboard_style.css' %}"> 
    {% elif LANGUAGE_CODE == 'ar' %}
    <link rel="stylesheet" href="{% static 'css/dashboard_style_ar.css' %}">
    {% endif %}
   {% block style %}
   {% endblock style %} 
</head>

<body>

  <input type="checkbox" id="check">
  <!--header area start-->
  <header>
    
    
    <div class="left_area">
      <label class="logo" for="check">
        <p class="logo1">P<span class="logo2">oe</span><span class="logo3">try</span></p>
      </label>
    </div>
    <div class="right_area">
      <li class="logout_btn hvr-wobble-top"> <a  href="{% url 'poetries:logout' %}">{% trans "Log out" %}</a>
    </div>
  </header>
  <!--header area end-->
  <!--sidebar start-->
  <div class="sidebar">
    <div class="text-center">
 
      <img src="{{request.user.profile.avatar.url}}" class="profile_image" alt="">
      <h4>{{request.user.username}}</h4>
    </div>

    <a class="{% if request.path == path_of_dashboard_poetries %}active{% endif %}" href="{{path_of_dashboard_poetries}}"><i class="fa fa-leaf"></i><span>{% trans "Poetries" %}</span></a>
    <a class="{% if request.path == path_of_dashboard_reflections %}active{% endif %}" href="{{path_of_dashboard_reflections}}"><i class="fa fa-history"></i><span>{% trans "Reflections" %}</span></a>
    <a class="{% if request.path == path_of_dashboard_stories %}active{% endif %}" href="{{path_of_dashboard_stories}}"><i class="fa fa-eye"></i><span>{% trans "Real stories" %}</span></a>
    <a class="{% if request.path == path_of_dashboard_i_read_you %}active{% endif %}" href="{{path_of_dashboard_i_read_you}}"><i class="fa fa-book"></i><span>{% trans "I read you" %}</span></a>
    <a class="{% if request.path == path_of_dashboard_users %}active{% endif %}" href="{{path_of_dashboard_users}}"><i class="fa fa-users"></i><span>{% trans "Users" %}</span></a>
    <a class="{% if request.path == path_of_dashboard_author_profile %}active{% endif %}" href="{{path_of_dashboard_author_profile}}"><i class="fa fa-user"></i><span>{% trans "Auther profile" %}</span></a>


  </div>
  <!--sidebar end-->

  <!--content start-->
  <div class="content">
    <br><br><br><br><br>
    {% block content %}

    {% endblock content %}


    <br><br><br>
    
    <!--Start footer section-->
    <div class="footer text-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <a href="{{path_of_home}}"><i class="fa fa-home fa-3x"></i>
              <br>{% trans "Home" %}</a>
          </div>
          <div class="col">
            <a href="{{path_of_poetry}}"><i class="fa fa-leaf fa-3x"></i>
              <br>{% trans "Poetry" %}</a>
          </div>
          <div class="col">
            <a href="{{path_of_reflections}}"><i class="fa fa-history fa-3x"></i>
              <br>{% trans "Reflections" %}</a>
          </div>
          <div class="col">
            <a href="{{path_of_real_stories}}"><i class="fa fa-eye fa-3x"></i>
              <br>{% trans "Real stories" %}</a>
          </div>
          <div class="col">
            <a href="{{path_of_i_read_you}}"><i class="fa fa-book fa-3x"></i>
              <br>{% trans "I read you" %}</a>
          </div>          
        </div>
        <hr>
        <p>{% trans "copy right" %} &copy; {% trans "is saved" %} </p>
      </div>
    </div>
    <!--end footer section-->
  </div>
  <!--content end-->
  
  <!--javascript and Jquery-->
  <script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
  <script type="text/javascript"src="{% static 'js/bootstrap.min.js' %}"></script>
 <!-- Custom js -->
 {% block scripts %}
 {% endblock scripts %}
</body>

</html>
