{% extends 'managerDashboard.html' %}
{% load static %}
{% block title %}
   Main
{% endblock title %}

{% block style %}
  <style>
   .statistics{
      text-align: center;
      border: solid #eee 2px;
      background-color: #858585;
    }
  </style>   
{% endblock style %}

{% block content %}
<main class="ms-sm-auto">
   <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
     <h1 class="h2">Manager dashboard</h1>
    
   </div>
 </main>
{% endblock content %}

{% block script %}
{% endblock script %}
