<table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Category</th>
        <th scope="col">Quantity</th>
        <th scope="col">Updated date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      
      {% for ingredient in ingredients  %}
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{ingredient.name}}</td>
        <td>{{ingredient.price}} $</td>
        <td>{{ingredient.category}}</td>
        <td>{{ingredient.quantity}}</td>
        <td>{{ingredient.updated}}</td>
        <td><a class="btn btn-primary" href="{% url 'employees:warehouseGuardDashboardIngredientDetails' ingredient.id %}">View</a></td>
        
          
        
      </tr>
      {% endfor %}      
    </tbody>
  </table>