{% extends 'warehouseGuardDashboard.html' %}
{% load static %}
{% block title %}
   Ingredients
{% endblock title %}

{% block style %}
  <style>
    .categories{
      list-style: none;
    }
    .category{
      color: #000;
      padding: 10px;
      margin-bottom: 5px;
      background-color: #eee;
    
    }
  </style>
{% endblock style %}
{% block content %}
<h1>ingredients</h1>
<div class="table-responsive row">
    <div class="col-10" id="dashboard_ingredients_list">
      {% include 'employees/warehouseGuard/dashboard_ingredients_list.html' %}
    </div>
    <div class="col-2">
      <ul class='categories'>
        {% for category in categories %}
        <li class="category" name='{{category.name}}'>
          <input class="filter-checkbox"  data-filter="category" value="{{category.name}}" type="checkbox" /> {{category.name}}
        </li>
        {% endfor %}
      </ul>
    </div>
</div>
{% endblock content %}

